<h1>Bookes</h1>


  <% @books.each do |book| %>
  
  <p>Title:</p>
    <span><%= book.title %></span>
      <%= link_to "show", book_path(book.id) %>
      <%= link_to "edit", edit_book_path(book.id) %>
      <%= link_to "delete", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      
  <p>Body</p>
    <span><%= book.body %></span>
      <%= link_to "show", book_path(book.id) %>
      <%= link_to "edit", edit_book_path(book.id) %>
      <%= link_to "delete", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

      
<% end %>   
   
<h2>New book</h2>

<%= form_with model: @book do |f| %>

 <h4>Title</h4>
  <%= f.text_field :title %>
	
  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
 
<% end %>